@import "_normalize";

// === Fonts ===

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");

// font-family: 'Kaushan Script', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

// === /Fonts ===

// === Common ===

body {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

// === /Common ===

// === Header ===

.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100px;

	width: 100%;
	padding-top: 30px;

	color: #fff;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__logo {
		font-size: 30px;
		font-weight: 700;
		line-height: 1;
	}

	&__nav {
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__link {
		display: inline-block;
		vertical-align: top;

		margin: 0 25px;
		position: relative;

		transition: linear 0.1s;
	}

	&__link:hover {
		color: #fce38a;
	}

	&__link::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background-color: #fce38a;
		opacity: 0;
		transition: linear 0.1s;

		position: absolute;
		bottom: -6px;
	}

	&__link:hover::after {
		opacity: 1;
	}
}

// === /Header ===

// === Intro ===

.intro {
	width: 100%;
	height: 100vh;

	background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
		url("../img/intro-bg.jpg") center no-repeat;
	background-size: cover;
}

// === /Intro ===
